In [1]:
import numpy as np
import pandas as pd
import scipy
from matplotlib import pylab, gridspec, pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

*Сохраняем данные*

In [2]:
df = pd.read_csv("data.csv", index_col=False)

*Вид данных*

In [3]:
df.head()

,arr_line,dest_line,arr_station,dest_station
0,Сокольническая линия,Сокольническая линия,Черкизовская,Преображенская площадь
1,Сокольническая линия,Сокольническая линия,Преображенская площадь,Сокольники
2,Сокольническая линия,Сокольническая линия,Сокольники,Красносельская
3,Сокольническая линия,Сокольническая линия,Красносельская,Комсомольская
4,Сокольническая линия,Сокольническая линия,Комсомольская,Красные ворота

In [4]:
df["arr_line"] = " " + df["arr_line"]

*Преобразуем в однородные данные*

In [5]:
new_df = pd.DataFrame(columns=['from', 'to'])

In [6]:
new_df['from'] = df['arr_line'] + df['arr_station']
new_df['to'] = df['dest_line'] + df['dest_station']
new_df.head()

,from,to
0,Сокольническая линия Черкизовская,Сокольническая линия Преображенская площадь
1,Сокольническая линия Преображенская площадь,Сокольническая линия Сокольники
2,Сокольническая линия Сокольники,Сокольническая линия Красносельская
3,Сокольническая линия Красносельская,Сокольническая линия Комсомольская
4,Сокольническая линия Комсомольская,Сокольническая линия Красные ворота

*Создадим матрицу смежности*

In [7]:
stations = np.unique([*new_df['from'], *new_df['to']])
dim = stations.shape[0]
adj_matrix = np.zeros([dim, dim], dtype='int')
print(adj_matrix)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

*Создадим словари для хранения названий станций и ключей*

In [8]:
dict_stations = dict(zip(stations, range(stations.shape[0]))) 
rev_dict_stations = dict(zip(range(stations.shape[0]), stations))

*Новый датафрейм с ключами станций*

In [9]:
df_num = new_df.copy()
df_num['from'] = df_num['from'].map(dict_stations)
df_num['to'] = df_num['to'].map(dict_stations)
df_num.head()

   from   to
0   164  158
1   158  160
2   160  152
3   152  151
4   151  153

*Заполним матрицу смежности*

In [10]:
list_from = list(df_num['from'])
list_to = list(df_num['to'])
for i in range(len(list_from)):
    adj_matrix[list_to[i]][list_from[i]] = adj_matrix[list_from[i]][list_to[i]] = 1

print(adj_matrix)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

*Нахождение кратчайших путей между станциями при помощи алгоритма Дейкстры*

In [11]:
class Graph:
    def __init__(self, matrix):
        self.matrix = matrix
        self.dim = matrix.shape[0]

    def _short_path(self, src: int):
        dist = np.full(self.dim, np.inf)
        prev = np.full(self.dim, False)
        dist[src] = 0
        for i in range(self.dim):
            u = np.inf
            for j in range(self.dim):
                if prev[j] == False and dist[j] <= u:
                    u = dist[j]
                    cur = j
        
            prev[cur] = True
       
            for j in range(self.dim):
                if self.matrix[cur][j] > 0 and prev[j] == False:
                    if dist[cur] + self.matrix[cur][j] < dist[j]:
                        dist[j] = dist[cur] + self.matrix[cur][j]
        return dist

    def distance_matrix(self):
        return np.array([self._short_path(i) for i in range(self.dim)], dtype='int')

*Получим матрицу расстояний между станциями*

In [12]:
%%time
graph = Graph(adj_matrix)
distances = graph.distance_matrix()
print(distances)

[[ 0  3 10 ...  4  6  8]
 [ 3  0 13 ...  7  9 11]
 [10 13  0 ... 10 10  8]
 ...
 [ 4  7 10 ...  0  2  4]
 [ 6  9 10 ...  2  0  2]
 [ 8 11  8 ...  4  2  0]]
Wall time: 13.5 s

*Сохраним полученую матрицу в .csv формат*

In [13]:
temp = pd.DataFrame(distances)
temp.to_csv("distance_data.csv", index = False)

In [14]:
df_dist = pd.read_csv("distance_data.csv")
df_dist.head()

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
0,0,3,10,7,2,7,5,2,11,6,...,4,3,6,5,5,7,3,4,6,8
1,3,0,13,4,5,10,8,1,14,9,...,7,6,9,8,8,10,6,7,9,11
2,10,13,0,17,8,3,5,12,1,4,...,10,9,6,11,11,7,10,10,10,8
3,7,4,17,0,9,14,12,5,18,13,...,11,10,13,12,12,14,10,11,13,15
4,2,5,8,9,0,5,3,4,9,4,...,2,1,4,3,3,5,2,2,4,6

*Заполним признаки "напитков" и сохраним в .csv список станций*

In [15]:
df_names = pd.DataFrame(stations, columns=['name'])
df_names['coffee'] = 0
df_names['tea'] = 0

In [16]:
tea_map = {' Замоскворецкая линия Царицыно': 2, ' Таганско-Краснопресненская линия Текстильщики': 1, '  Замоскворецкая линия Войковская': 2, ' Калужско-Рижская линия Бабушкинская': 1, ' Серпуховско-Тимирязевская линия Отрадное': 1, ' Замоскворецкая линия Орехово': 1, ' Замоскворецкая линия Ховрино': 1}
coffee_map = {' Калужско-Рижская линия Академическая': 1, ' Серпуховско-Тимирязевская линия Тимирязевская': 1, ' Люблинская линия Окружная': 1, ' Арбатско-Покровская линия Молодёжная': 1, '  Люблинская линия Бутырская': 1, ' Кольцевая линия Комсомольская': 1, ' Замоскворецкая линия Речной вокзал': 1, ' Замоскворецкая линия Войковская': 2, ' Замоскворецкая линия Сокол': 1}

In [17]:
print(coffee_map, tea_map, sep= '\n\n')

{' Калужско-Рижская линия Академическая': 1, ' Серпуховско-Тимирязевская линия Тимирязевская': 1, ' Люблинская линия Окружная': 1, ' Арбатско-Покровская линия Молодёжная': 1, '  Люблинская линия Бутырская': 1, ' Кольцевая линия Комсомольская': 1, ' Замоскворецкая линия Речной вокзал': 1, ' Замоскворецкая линия Войковская': 2, ' Замоскворецкая линия Сокол': 1}

{' Замоскворецкая линия Царицыно': 2, ' Таганско-Краснопресненская линия Текстильщики': 1, '  Замоскворецкая линия Войковская': 2, ' Калужско-Рижская линия Бабушкинская': 1, ' Серпуховско-Тимирязевская линия Отрадное': 1, ' Замоскворецкая линия Орехово': 1, ' Замоскворецкая линия Ховрино': 1}

In [18]:
for i, row in df_names[df_names['name'].isin(coffee_map.keys())].iterrows():
    df_names.at[i, 'coffee'] = coffee_map[df_names.at[i, 'name']]
for i, row in df_names[df_names['name'].isin(tea_map.keys())].iterrows():
    df_names.at[i, 'tea'] = tea_map[df_names.at[i, 'name']]
df_names.to_csv('station_list.csv', index=False)
df_names.head(10)

                                       name  coffee  tea
0       Арбатско-Покровская линия Арбатская       0    0
1      Арбатско-Покровская линия Бауманская       0    0
2   Арбатско-Покровская линия Волоколамская       0    0
3    Арбатско-Покровская линия Измайловская       0    0
4        Арбатско-Покровская линия Киевская       0    0
5      Арбатско-Покровская линия Крылатское       0    0
6      Арбатско-Покровская линия Кунцевская       0    0
7         Арбатско-Покровская линия Курская       0    0
8          Арбатско-Покровская линия Митино       0    0
9      Арбатско-Покровская линия Молодёжная       1    0

In [19]:
df_dist['coffee'] = df_names['coffee']
df_dist['tea'] = df_names['tea']

In [20]:
df_tea = df_dist[df_dist['tea'] != 0]
df_coffee = df_dist[df_dist['coffee'] != 0]
df_y = df_dist[(df_dist['tea'] != 0) | (df_dist['coffee'] != 0)]

In [21]:
df_tea

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,200,201,coffee,tea
44,10,11,20,15,12,17,15,10,21,16,...,16,14,14,17,13,13,15,17,0,1
50,13,14,20,18,12,17,15,13,21,16,...,16,14,14,17,13,13,15,17,0,1
51,9,10,19,14,11,16,14,9,20,15,...,15,13,13,16,12,12,14,16,0,2
64,12,11,20,15,12,17,15,10,21,16,...,16,14,14,17,13,13,15,17,0,1
135,10,12,19,16,11,16,14,11,20,15,...,15,13,13,16,12,12,14,16,0,1
185,8,7,18,11,10,15,13,6,19,14,...,14,12,12,15,11,11,13,15,0,1

In [22]:
df_coffee

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,200,201,coffee,tea
9,6,9,4,13,4,1,1,8,5,0,...,2,7,7,3,6,6,6,4,1,0
35,9,10,16,14,8,13,11,9,17,12,...,12,10,10,13,9,9,11,13,2,0
46,11,12,18,16,10,15,13,11,19,14,...,14,12,12,15,11,11,13,15,1,0
47,8,9,15,13,7,12,10,8,16,11,...,11,9,9,12,8,8,10,12,1,0
62,8,9,15,13,7,12,10,8,16,11,...,11,9,9,12,8,8,10,12,1,0
92,4,3,14,7,6,11,9,2,15,10,...,10,8,8,11,7,7,9,11,1,0
114,10,10,19,14,11,16,14,9,20,15,...,15,13,13,16,12,12,14,16,1,0
142,7,9,16,13,8,13,11,8,17,12,...,12,10,10,13,9,9,11,13,1,0

In [23]:
df_y

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,200,201,coffee,tea
9,6,9,4,13,4,1,1,8,5,0,...,2,7,7,3,6,6,6,4,1,0
35,9,10,16,14,8,13,11,9,17,12,...,12,10,10,13,9,9,11,13,2,0
44,10,11,20,15,12,17,15,10,21,16,...,16,14,14,17,13,13,15,17,0,1
46,11,12,18,16,10,15,13,11,19,14,...,14,12,12,15,11,11,13,15,1,0
47,8,9,15,13,7,12,10,8,16,11,...,11,9,9,12,8,8,10,12,1,0
50,13,14,20,18,12,17,15,13,21,16,...,16,14,14,17,13,13,15,17,0,1
51,9,10,19,14,11,16,14,9,20,15,...,15,13,13,16,12,12,14,16,0,2
62,8,9,15,13,7,12,10,8,16,11,...,11,9,9,12,8,8,10,12,1,0
64,12,11,20,15,12,17,15,10,21,16,...,16,14,14,17,13,13,15,17,0,1
92,4,3,14,7,6,11,9,2,15,10,...,10,8,8,11,7,7,9,11,1,0
114,10,10,19,14,11,16,14,9,20,15,...,15,13,13,16,12,12,14,16,1,0
135,10,12,19,16,11,16,14,11,20,15,...,15,13,13,16,12,12,14,16,0,1
142,7,9,16,13,8,13,11,8,17,12,...,12,10,10,13,9,9,11,13,1,0
185,8,7,18,11,10,15,13,6,19,14,...,14,12,12,15,11,11,13,15,0,1

In [24]:
class KNN():
    
    def __init__(self, dict_stations, rev_dict_stations, coffee, tea, y, k=3):
        self.st = dict_stations.copy()
        self.st_keys = rev_dict_stations.copy()
        self.coffee = coffee
        self.tea = tea
        self.y = y
        self.k = k

    def guess_class(self, x:int, k: int)->str:
        # first k - coffe
        c = self.coffee.sort_values(by=str(x)).head(k)
        # first k - tea
        t = self.tea.sort_values(by=str(x)).head(k)
                
        nearest_k = c.append(t)
        nearest_k = nearest_k.sort_values(by=str(x)).head(k)
                
        coffee_coef = nearest_k.coffee.sum()
        tea_coef = nearest_k.tea.sum()
        
        if coffee_coef > tea_coef:
            return 'coffee'
        else:
            return 'tea'
    
    def on_station(self, station: str)->str:
        temp = self.st[station]
        if temp in self.y.all(1):
            if self.y.loc[temp, :]['coffee'] > self.y.loc[temp, :]['tea']:
                str_beverage = 'coffee'
            else:
                str_beverage = 'tea'
        else:
            str_beverage = self.guess_class(temp, self.k)
            
        return 'on "{}" beverage is: {}'.format(self.st_keys[temp], str_beverage)

In [25]:
knn = KNN(dict_stations, rev_dict_stations, df_coffee, df_tea, df_y, 5)

In [27]:
result = knn.on_station(' Замоскворецкая линия Войковская')
print(result)

on " Замоскворецкая линия Войковская" beverage is: coffee

In [28]:
result1 = knn.on_station(' Замоскворецкая линия Алма-Атинская')
print(result1)

on " Замоскворецкая линия Алма-Атинская" beverage is: tea

In [29]:
res = enumerate([knn.on_station(station) for station in stations])
dict(res)

{0: 'on " Арбатско-Покровская линия Арбатская" beverage is: coffee',
 1: 'on " Арбатско-Покровская линия Бауманская" beverage is: coffee',
 2: 'on " Арбатско-Покровская линия Волоколамская" beverage is: coffee',
 3: 'on " Арбатско-Покровская линия Измайловская" beverage is: coffee',
 4: 'on " Арбатско-Покровская линия Киевская" beverage is: coffee',
 5: 'on " Арбатско-Покровская линия Крылатское" beverage is: coffee',
 6: 'on " Арбатско-Покровская линия Кунцевская" beverage is: coffee',
 7: 'on " Арбатско-Покровская линия Курская" beverage is: coffee',
 8: 'on " Арбатско-Покровская линия Митино" beverage is: coffee',
 9: 'on " Арбатско-Покровская линия Молодёжная" beverage is: coffee',
 10: 'on " Арбатско-Покровская линия Мякинино" beverage is: coffee',
 11: 'on " Арбатско-Покровская линия Парк Победы" beverage is: coffee',
 12: 'on " Арбатско-Покровская линия Партизанская" beverage is: coffee',
 13: 'on " Арбатско-Покровская линия Первомайская" beverage is: coffee',
 14: 'on " Арбатско-Покровская линия Площадь Революции" beverage is: coffee',
 15: 'on " Арбатско-Покровская линия Пятницкое шоссе" beverage is: coffee',
 16: 'on " Арбатско-Покровская линия Семёновская" beverage is: coffee',
 17: 'on " Арбатско-Покровская линия Славянский бульвар" beverage is: coffee',
 18: 'on " Арбатско-Покровская линия Смоленская" beverage is: coffee',
 19: 'on " Арбатско-Покровская линия Строгино" beverage is: coffee',
 20: 'on " Арбатско-Покровская линия Щёлковская" beverage is: coffee',
 21: 'on " Арбатско-Покровская линия Электрозаводская" beverage is: coffee',
 22: 'on " Бутовская линия Битцевский парк" beverage is: tea',
 23: 'on " Бутовская линия Бульвар Адмирала Ушакова" beverage is: tea',
 24: 'on " Бутовская линия Бунинская Аллея" beverage is: tea',
 25: 'on " Бутовская линия Лесопарковая" beverage is: tea',
 26: 'on " Бутовская линия Улица Горчакова" beverage is: tea',
 27: 'on " Бутовская линия Улица Скобелевская" beverage is: tea',
 28: 'on " Бутовская линия Улица Старокачаловская" beverage is: tea',
 29: 'on " Замоскворецкая линия Автозаводская" beverage is: tea',
 30: 'on " Замоскворецкая линия Алма-Атинская" beverage is: tea',
 31: 'on " Замоскворецкая линия Аэропорт" beverage is: coffee',
 32: 'on " Замоскворецкая линия Беломорская" beverage is: coffee',
 33: 'on " Замоскворецкая линия Белорусская" beverage is: coffee',
 34: 'on " Замоскворецкая линия Водный стадион" beverage is: coffee',
 35: 'on " Замоскворецкая линия Войковская" beverage is: coffee',
 36: 'on " Замоскворецкая линия Динамо" beverage is: coffee',
 37: 'on " Замоскворецкая линия Домодедовская" beverage is: tea',
 38: 'on " Замоскворецкая линия Кантемировская" beverage is: tea',
 39: 'on " Замоскворецкая линия Каширская" beverage is: tea',
 40: 'on " Замоскворецкая линия Коломенская" beverage is: tea',
 41: 'on " Замоскворецкая линия Красногвардейская" beverage is: tea',
 42: 'on " Замоскворецкая линия Маяковская" beverage is: coffee',
 43: 'on " Замоскворецкая линия Новокузнецкая" beverage is: tea',
 44: 'on " Замоскворецкая линия Орехово" beverage is: tea',
 45: 'on " Замоскворецкая линия Павелецкая" beverage is: tea',
 46: 'on " Замоскворецкая линия Речной вокзал" beverage is: coffee',
 47: 'on " Замоскворецкая линия Сокол" beverage is: coffee',
 48: 'on " Замоскворецкая линия Тверская" beverage is: coffee',
 49: 'on " Замоскворецкая линия Театральная" beverage is: coffee',
 50: 'on " Замоскворецкая линия Ховрино" beverage is: tea',
 51: 'on " Замоскворецкая линия Царицыно" beverage is: tea',
 52: 'on " Калининская линия Авиамоторная" beverage is: tea',
 53: 'on " Калининская линия Деловой центр" beverage is: coffee',
 54: 'on " Калининская линия Марксистская" beverage is: tea',
 55: 'on " Калининская линия Новогиреево" beverage is: tea',
 56: 'on " Калининская линия Новокосино" beverage is: tea',
 57: 'on " Калининская линия Парк Победы" beverage is: coffee',
 58: 'on " Калининская линия Перово" beverage is: tea',
 59: 'on " Калининская линия Площадь Ильича" beverage is: tea',
 60: 'on " Калининская линия Третьяковская" beverage is: tea',
 61: 'on " Калининская линия Шоссе Энтузиастов" beverage is: tea',
 62: 'on " Калужско-Рижская линия Академическая" beverage is: coffee',
 63: 'on " Калужско-Рижская линия Алексеевская" beverage is: coffee',
 64: 'on " Калужско-Рижская линия Бабушкинская" beverage is: tea',
 65: 'on " Калужско-Рижская линия Беляево" beverage is: tea',
 66: 'on " Калужско-Рижская линия Ботанический сад" beverage is: coffee',
 67: 'on " Калужско-Рижская линия ВДНХ" beverage is: coffee',
 68: 'on " Калужско-Рижская линия Калужская" beverage is: tea',
 69: 'on " Калужско-Рижская линия Китай-город" beverage is: tea',
 70: 'on " Калужско-Рижская линия Коньково" beverage is: tea',
 71: 'on " Калужско-Рижская линия Ленинский проспект" beverage is: tea',
 72: 'on " Калужско-Рижская линия Медведково" beverage is: coffee',
 73: 'on " Калужско-Рижская линия Новоясеневская" beverage is: tea',
 74: 'on " Калужско-Рижская линия Новые Черёмушки" beverage is: tea',
 75: 'on " Калужско-Рижская линия Октябрьская" beverage is: tea',
 76: 'on " Калужско-Рижская линия Проспект Мира" beverage is: coffee',
 77: 'on " Калужско-Рижская линия Профсоюзная" beverage is: tea',
 78: 'on " Калужско-Рижская линия Рижская" beverage is: coffee',
 79: 'on " Калужско-Рижская линия Свиблово" beverage is: coffee',
 80: 'on " Калужско-Рижская линия Сухаревская" beverage is: coffee',
 81: 'on " Калужско-Рижская линия Теплый Стан" beverage is: tea',
 82: 'on " Калужско-Рижская линия Третьяковская" beverage is: tea',
 83: 'on " Калужско-Рижская линия Тургеневская" beverage is: coffee',
 84: 'on " Калужско-Рижская линия Шаболовская" beverage is: tea',
 85: 'on " Калужско-Рижская линия Ясенево" beverage is: tea',
 86: 'on " Каховская линия Варшавская" beverage is: tea',
 87: 'on " Каховская линия Каховская" beverage is: tea',
 88: 'on " Каховская линия Каширская" beverage is: tea',
 89: 'on " Кольцевая линия Белорусская" beverage is: coffee',
 90: 'on " Кольцевая линия Добрынинская" beverage is: tea',
 91: 'on " Кольцевая линия Киевская" beverage is: coffee',
 92: 'on " Кольцевая линия Комсомольская" beverage is: coffee',
 93: 'on " Кольцевая линия Краснопресненская" beverage is: coffee',
 94: 'on " Кольцевая линия Курская" beverage is: coffee',
 95: 'on " Кольцевая линия Новослободская" beverage is: coffee',
 96: 'on " Кольцевая линия Октябрьская" beverage is: coffee',
 97: 'on " Кольцевая линия Павелецкая" beverage is: tea',
 98: 'on " Кольцевая линия Парк культуры" beverage is: coffee',
 99: 'on " Кольцевая линия Проспект Мира" beverage is: coffee',
 100: 'on " Кольцевая линия Таганская" beverage is: tea',
 101: 'on " Люблинская линия Борисово" beverage is: tea',
 102: 'on " Люблинская линия Братиславская" beverage is: tea',
 103: 'on " Люблинская линия Бутырская" beverage is: coffee',
 104: 'on " Люблинская линия Верхние Лихоборы" beverage is: coffee',
 105: 'on " Люблинская линия Волжская" beverage is: tea',
 106: 'on " Люблинская линия Достоевская" beverage is: coffee',
 107: 'on " Люблинская линия Дубровка" beverage is: coffee',
 108: 'on " Люблинская линия Зябликово" beverage is: tea',
 109: 'on " Люблинская линия Кожуховская" beverage is: coffee',
 110: 'on " Люблинская линия Крестьянская застава" beverage is: coffee',
 111: 'on " Люблинская линия Люблино" beverage is: tea',
 112: 'on " Люблинская линия Марьина Роща" beverage is: coffee',
 113: 'on " Люблинская линия Марьино" beverage is: tea',
 114: 'on " Люблинская линия Окружная" beverage is: coffee',
 115: 'on " Люблинская линия Петровско-Разумовская" beverage is: coffee',
 116: 'on " Люблинская линия Печатники" beverage is: tea',
 117: 'on " Люблинская линия Римская" beverage is: coffee',
 118: 'on " Люблинская линия Селигерская" beverage is: coffee',
 119: 'on " Люблинская линия Сретенский бульвар" beverage is: coffee',
 120: 'on " Люблинская линия Трубная" beverage is: coffee',
 121: 'on " Люблинская линия Фонвизенская" beverage is: coffee',
 122: 'on " Люблинская линия Чкаловская" beverage is: coffee',
 123: 'on " Люблинская линия Шипиловская" beverage is: tea',
 124: 'on " Серпуховско-Тимирязевская линия Алтуфьево" beverage is: coffee',
 125: 'on " Серпуховско-Тимирязевская линия Аннино" beverage is: tea',
 126: 'on " Серпуховско-Тимирязевская линия Бибирево" beverage is: coffee',
 127: 'on " Серпуховско-Тимирязевская линия Боровицкая" beverage is: coffee',
 128: 'on " Серпуховско-Тимирязевская линия Бульвар Дмитрия Донского" beverage is: tea',
 129: 'on " Серпуховско-Тимирязевская линия Владыкино" beverage is: coffee',
 130: 'on " Серпуховско-Тимирязевская линия Дмитровская" beverage is: coffee',
 131: 'on " Серпуховско-Тимирязевская линия Менделеевская" beverage is: coffee',
 132: 'on " Серпуховско-Тимирязевская линия Нагатинская" beverage is: tea',
 133: 'on " Серпуховско-Тимирязевская линия Нагорная" beverage is: tea',
 134: 'on " Серпуховско-Тимирязевская линия Нахимовский проспект" beverage is: tea',
 135: 'on " Серпуховско-Тимирязевская линия Отрадное" beverage is: tea',
 136: 'on " Серпуховско-Тимирязевская линия Петровско-Разумовская" beverage is: coffee',
 137: 'on " Серпуховско-Тимирязевская линия Полянка" beverage is: coffee',
 138: 'on " Серпуховско-Тимирязевская линия Пражская" beverage is: tea',
 139: 'on " Серпуховско-Тимирязевская линия Савёловская" beverage is: coffee',
 140: 'on " Серпуховско-Тимирязевская линия Севастопольская" beverage is: tea',
 141: 'on " Серпуховско-Тимирязевская линия Серпуховская" beverage is: tea',
 142: 'on " Серпуховско-Тимирязевская линия Тимирязевская" beverage is: coffee',
 143: 'on " Серпуховско-Тимирязевская линия Тульская" beverage is: tea',
 144: 'on " Серпуховско-Тимирязевская линия Улица Академика Янгеля" beverage is: tea',
 145: 'on " Серпуховско-Тимирязевская линия Цветной бульвар" beverage is: coffee',
 146: 'on " Серпуховско-Тимирязевская линия Чертановская" beverage is: tea',
 147: 'on " Серпуховско-Тимирязевская линия Чеховская" beverage is: coffee',
 148: 'on " Серпуховско-Тимирязевская линия Южная" beverage is: tea',
 149: 'on " Сокольническая линия Библиотека имени Ленина" beverage is: coffee',
 150: 'on " Сокольническая линия Воробьёвы горы" beverage is: coffee',
 151: 'on " Сокольническая линия Комсомольская" beverage is: coffee',
 152: 'on " Сокольническая линия Красносельская" beverage is: coffee',
 153: 'on " Сокольническая линия Красные ворота" beverage is: coffee',
 154: 'on " Сокольническая линия Кропоткинская" beverage is: coffee',
 155: 'on " Сокольническая линия Лубянка" beverage is: coffee',
 156: 'on " Сокольническая линия Охотный ряд" beverage is: coffee',
 157: 'on " Сокольническая линия Парк культуры" beverage is: coffee',
 158: 'on " Сокольническая линия Преображенская площадь" beverage is: coffee',
 159: 'on " Сокольническая линия Проспект Вернадского" beverage is: coffee',
 160: 'on " Сокольническая линия Сокольники" beverage is: coffee',
 161: 'on " Сокольническая линия Спортивная" beverage is: coffee',
 162: 'on " Сокольническая линия Университет" beverage is: coffee',
 163: 'on " Сокольническая линия Фрунзенская" beverage is: coffee',
 164: 'on " Сокольническая линия Черкизовская" beverage is: coffee',
 165: 'on " Сокольническая линия Чистые пруды" beverage is: coffee',
 166: 'on " Сокольническая линия Юго-Западная" beverage is: coffee',
 167: 'on " Таганско-Краснопресненская линия Баррикадная" beverage is: coffee',
 168: 'on " Таганско-Краснопресненская линия Беговая" beverage is: coffee',
 169: 'on " Таганско-Краснопресненская линия Волгоградский проспект" beverage is: tea',
 170: 'on " Таганско-Краснопресненская линия Выхино" beverage is: tea',
 171: 'on " Таганско-Краснопресненская линия Жулебино" beverage is: tea',
 172: 'on " Таганско-Краснопресненская линия Китай-город" beverage is: coffee',
 173: 'on " Таганско-Краснопресненская линия Кузнецкий мост" beverage is: coffee',
 174: 'on " Таганско-Краснопресненская линия Кузьминки" beverage is: tea',
 175: 'on " Таганско-Краснопресненская линия Лермонтовский проспект" beverage is: tea',
 176: 'on " Таганско-Краснопресненская линия Октябрьское поле" beverage is: coffee',
 177: 'on " Таганско-Краснопресненская линия Планерная" beverage is: coffee',
 178: 'on " Таганско-Краснопресненская линия Полежаевская" beverage is: coffee',
 179: 'on " Таганско-Краснопресненская линия Пролетарская" beverage is: tea',
 180: 'on " Таганско-Краснопресненская линия Пушкинская" beverage is: coffee',
 181: 'on " Таганско-Краснопресненская линия Рязанский проспект" beverage is: tea',
 182: 'on " Таганско-Краснопресненская линия Спартак" beverage is: coffee',
 183: 'on " Таганско-Краснопресненская линия Сходненская" beverage is: coffee',
 184: 'on " Таганско-Краснопресненская линия Таганская" beverage is: tea',
 185: 'on " Таганско-Краснопресненская линия Текстильщики" beverage is: tea',
 186: 'on " Таганско-Краснопресненская линия Тушинская" beverage is: coffee',
 187: 'on " Таганско-Краснопресненская линия Улица 1905 года" beverage is: coffee',
 188: 'on " Таганско-Краснопресненская линия Щукинская" beverage is: coffee',
 189: 'on " Филевская линия Александровский сад" beverage is: coffee',
 190: 'on " Филевская линия Арбатская" beverage is: coffee',
 191: 'on " Филевская линия Багратионовская" beverage is: coffee',
 192: 'on " Филевская линия Выставочная" beverage is: coffee',
 193: 'on " Филевская линия Киевская" beverage is: coffee',
 194: 'on " Филевская линия Кунцевская" beverage is: coffee',
 195: 'on " Филевская линия Кутузовская" beverage is: coffee',
 196: 'on " Филевская линия Международная" beverage is: coffee',
 197: 'on " Филевская линия Пионерская" beverage is: coffee',
 198: 'on " Филевская линия Смоленская" beverage is: coffee',
 199: 'on " Филевская линия Студенческая" beverage is: coffee',
 200: 'on " Филевская линия Фили" beverage is: coffee',
 201: 'on " Филевская линия Филёвский парк" beverage is: coffee'}